.footer__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity 0.7s;
}

@media screen and (max-width: 735px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
