.lead__title {
  max-width: 729px;
  margin: 0 auto 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 488px;
    min-height: 158px;
    font-size: 70px;
    line-height: 84px;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 288px;
    min-height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
