.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 18px;
}

@media screen and (max-width: 735px) {
  .footer__links {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 32px;
  }
}
