.photo-grid__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, auto));
  grid-template-rows: repeat(auto-fit, minmax(213px, auto));
  gap: 16px;
}

@media screen and (max-width: 1120px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows: repeat(auto-fit, minmax(225px, auto));
    gap: 14px;
  }
}

@media screen and (max-width: 800px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(352px, auto));
    grid-template-rows: repeat(auto-fit, minmax(264px, auto));
    gap: 16px;
  }
}

@media screen and (max-width: 400px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(288px, auto));
    grid-template-rows: repeat(auto-fit, minmax(216px, auto));
    gap: 12px;
  }
}
