.place {
  display: grid;
  grid-template-columns: minmax(auto, 460px) minmax(auto, 484px);
  grid-template-rows: auto minmax(auto, 460px);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1120px) {
  .place {
    grid-template-columns: minmax(auto, 440px) minmax(auto, 456px);
    grid-template-rows: auto minmax(auto, 440px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 1020px) {
  .place {
    grid-template-columns: minmax(auto, 340px) minmax(352px, auto);
    grid-template-rows: auto auto;
    column-gap: 28px;
  }
}

@media screen and (max-width: 760px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 520px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 320px;
  }
}
