.footer {
  margin: 0 auto 0;
  padding: 92px 0 24px;
  max-width: 1184px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1275px) {
  .footer {
    max-width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    max-width: 720px;
    padding: 88px 0 24px;
  }
}

@media screen and (max-width: 735px) {
  .footer {
    margin: 0 auto 0 36px;
    padding: 64px 0 24px;
    max-width: 216px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    margin: 0 118px 0 16px;
    padding: 64px 0 24px;
    max-width: 186px;
    min-height: 310px;
  }
}
